#head_container {
	background:#D0D0D0;
	/* box-shadow: 4px 4px 5px #888888; */
	margin-top:5px;
	margin-bottom:5px;
	/* -webkit-border-radius: 6px 6px 6px 6px; */
}
#body_container {
	background:#222222;
	/* box-shadow: 2px 2px 5px #888888; */
	border:2px solid #000000;
	margin-top:50px;
	margin-bottom:25px;
	min-height:450px;
	padding-top:15px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
#footer_container {
	background:#D0D0D0;
	box-shadow: 10px 10px 5px #888888;
	min-height:100px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:10px;
	/* -webkit-border-radius: 6px 6px 6px 6px; */
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	background-color: #444444;
}
p {
	padding-left:10px;
}
#log_in {
	padding-top:12px;
	padding-right:10px;
}
#pictures {
	color:white;
	text-align:center;
}
.topbar {
	border-bottom:1px solid #33ff00;
}
h2, h3, h4 {
	color:white;
}
.row{
	padding-bottom:12px;
}
.center {
	margin-left: auto;   
	margin-right: auto;   
	width: 30em; 
}
#writing1, #writing2, #writing3{
	color:white;
}
.pills{
	margin:0 0 18px;
	padding:0;
	/*list-style:none;zoom:1;*/
}
.tabs:before,.pills:before,.tabs:after,.pills:after{
	display:table;
	content:"";zoom:1;
}
.tabs:after,.pills:after{
	clear:both;
}
.tabs>li,.pills>li{
	float:left;
	
}
.tabs>li>a,.pills>li>a{
	display:block;
}
.tabs{
	border-color:#ddd;
	border-style:solid;
	border-width:0 0 1px;
}
.tabs>li{
	position:relative;
	margin-bottom:-1px;
}
.tabs>li>a{
	padding:0 15px;
	margin-right:2px;
	line-height:34px;
	border:1px solid transparent;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.tabs>li>a:hover{
	text-decoration:none;
	background-color:#eee;
	border-color:#eee #eee #ddd;
}
.tabs .active>a,.tabs .active>a:hover{
	color:#808080;
	background-color:#ffffff;
	border:1px solid #ddd;
	border-bottom-color:transparent;
	cursor:default;
}
.tabs .menu-dropdown,.tabs .dropdown-menu{
	top:35px;
	border-width:1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}
.tabs a.menu:after,.tabs .dropdown-toggle:after{
	border-top-color:#999;
	margin-top:15px;
	margin-left:5px;
}
.tabs li.open.menu .menu,.tabs .open.dropdown .dropdown-toggle{
	border-color:#999;
}
.tabs li.open a.menu:after,.tabs .dropdown.open .dropdown-toggle:after{
	border-top-color:#555;
}
.pills a{
	margin:5px 3px 5px 0;
	padding:0 15px;
	line-height:30px;
	/*text-shadow:0 1px 1px #ffffff;*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	color:white;
	text-shadow:none;
}
.pills a:hover{
	color:#ffffff;
	text-decoration:none;
	/*text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);*/
	/*background-color:#00438a;*/
	background-color:#111111;
}
.pills .active a{
	color:#ffffff;
	/*text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);*/
	/*background-color:#0069d6;*/
	background-color:#222222;
}




			